body, p, h2, h3, a, button, input{
  margin: 0px;
  padding: 0px;
  line-height: 1em;  
}
body{
  background-color:#2ed573;
}
main{
  width: 100%;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  box-sizing: border-box;
  border: 8px solid#2f3542;
  border-radius: 20px;
  background-color: #ff4757;
  box-shadow: 0px 10px 20px #2f3542;
  overflow: hidden;
  color: #2f3542;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 100%;
}
.results{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  font-size: 1.5em;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
footer a{
  margin-left: 8px;
  text-decoration: none;
}
h2{
  font-family:'Bungee Shade', cursive;
  font-size: 3.5em;
}
h3{
  color: #ced6e0;
  font-size: 1.8em;
}
input{
  width: 25%;
  background-color: #ced6e0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.2em;
}
.button{
  display: flex;
  align-items: center;
  height: 1em;
  padding: 10px;
  background-color:  #2f3542;
  border-radius: 10px;
  font-family: 'Bungee Shade', cursive;  
  font-size: 1.8em;
  color: #ced6e0;
}
.button:hover{
  background-color: #6b6d70 ;
}
